@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #0D3B66;
    --cor-secundaria: #F4D35E;
    --cor-terciaria: #FAF0CA;
    --cor-hover-link: #40F8FF; 
    --cor-hover-menu: #F95738;
    --cor-quaternaria: #539feb;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    --fonte-pequena: 1.5rem;
    --fonte-grande: 2.25rem;

    --fonte-leve: 400;
    --fonte-pesada: 600;
} 

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color :var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__links {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-pequena);
    font-weight: var(--fonte-pesada);
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__links:hover {
    color: var(--cor-hover-menu);
}

.destaque-texto {
    color: var(--cor-terciaria);
}

.principal__projetos {
    padding: 2% 4%;
}

.principal__projetos__imagem__divisao {
    display: flex;
    gap: 5rem;
}

.principal__projetos__imagem {
    border: 2px solid #000000;
    border-radius: 10px;
}

.rodape {
    color: var(--cor-terciaria);
    background-color: var(--cor-quaternaria);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-pequena);
    font-weight: var(--fonte-pesada);
}

